<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div>
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <a class="navbar-brand" href="#">
                <img src="{{  asset('images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                SnowTricks
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" href="{{ path('home') }}">Home</a>
                    <a class="nav-link disabled" href="{{ path('tricks') }}">Tricks</a>
                    {%  if app.user != null %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    {%  else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
