{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form._token) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        <div class="form-group">
            Images
            <ul class="images" id="imageul" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>
            <button type="button" class="addform" data-formul="imageul">Add an image</button>
        </div>
        <div class="form-group">
            Videos
            {{ form_errors(form.videos) }}
            <ul class="videos" id="videoul" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></ul>
            <button type="button" class="addform" data-formul="videoul">Add a video</button>
        </div>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('createtrick') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
